# python files
__pycache__/
*.pyc
.cache

# dbt
target/
dbt_packages/
logs/
**.dbt/
.build
.tmp
.data

# env file
.env

# custom project files
**/*scratch*

# pbi
**/*.pbix

# xls temporary
**/~$*.xlsx
